.promocion-container {
    margin-top: 80px;
    /* Ajusta según la altura combinada de la NavBar y FilterBar */
    background-color: #f2f2f2;
}
/* Estilo para elementos activos */
.principal-active .page-link {
    background-color: #26486e;
    /* Color de fondo para elementos activos */
    color: #ffffff;
    /* Color de texto para elementos activos */
}

/* Estilo para elementos inactivos */
.principal-inactive .page-link {
    background-color: #ffffff;
    /* Color de fondo para elementos inactivos */
    color: #26486e;
    /* Color de texto para elementos inactivos */
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ajusta el valor según sea necesario */
}
.filter-bar {
    position: fixed;
    top: 50px; /* Ajusta la posición según la altura de tu barra de navegación */
    width: 100%;
    z-index: 999; /* Ajusta el valor según sea necesario */
}