/* Fondo de imagen */
.inicio-container {
  background-image: url('/images/ui/fast-food-seamless-background-template-vector.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  padding: 3%; /* Añade relleno al contenedor para que el contenido no esté pegado al borde */
}

.contenido {
  background-color: rgba(255, 255, 255, 0.808);
  padding: 2rem; 
  border-radius: 10px; 
}
.tarjeta:hover {
  transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
  box-shadow: 0px 0px 15px rgba(133, 92, 92, 0.2);
}
.tarjeta {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.Boton {
  display: inline-block;
  background-color: #26486e !important; 
  color: #ffffff !important; 
  text-decoration: none !important;
  border-radius: 5px !important;
  border: #26486e !important;
  transition:  0.3s ease, color 0.3s ease !important; 
}

.Boton:hover {
  background-color: #5192d8 !important; 
  color: #ffffff !important; 
} 
