.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.img-custom {
  height: 236px;
  object-fit: contain;
}

.rounded-image {
  border-radius: 0px; 
}

.precio-container {
  text-align: center;
}

.img-custom {
  height: 236px;
  object-fit: contain;
}