.navbar-custom {
    background-color: #26486e;
}

/* Cambiar tipo de letra */
.navbar-custom .navbar-brand {
    font-family: 'Arial', sans-serif;
    /* Cambia 'Arial' por la fuente que prefieras */
}

/* Estilo de los íconos */
.navbar-custom .nav-link .icon {
    margin-right: 5px;
    /* Ajusta el espaciado entre el icono y el texto */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler {
    border: none;
    outline: none;
}

.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}