.producto-container {
    margin-top: 120px;
    background-color: #f2f2f2;
}
/* Media query para pantallas pequeñas (móviles) */
@media screen and (max-width: 600px) {
    .producto-container {
        margin-top: 200px; /* Ajusta el nuevo margin-top para pantallas pequeñas */
    }
}
.filterbar {
    position: fixed;
    top: 60px;
    width: calc(100% - 16px); 
    padding-right: 8px;
    z-index: 2;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
@media screen and (max-width: 600px) {
    .scroll {
        overflow-y: auto; 
        height: calc(100vh - 260px); 
        position: relative; 
        z-index: 1; 
    }
}

.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/* Estilo para elementos activos */
.principal-active .page-link {
    background-color: #26486e; /* Color de fondo para elementos activos */
    color: #ffffff; /* Color de texto para elementos activos */
}

/* Estilo para elementos inactivos */
.principal-inactive .page-link {
    background-color: #ffffff; /* Color de fondo para elementos inactivos */
    color: #26486e; /* Color de texto para elementos inactivos */
}
  
  
  